/* Universal Styles Section*/
@font-face {
  font-family: "Yekan";
  src: url("../../fnt/Yekan.eot"); /* IE9 Compat Modes */
  src: url("../../fnt/Yekan.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fnt/Yekan.woff2") format("woff2"),
    /* Modern Browsers */ url("../../fnt/Yekan.woff") format("woff"),
    /* Modern Browsers */ url("../../fnt/Yekan.otf") format("opentype"),
    /* Open Type Font */ url("../../fnt/Yekan.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

* {
  font-family: "Yekan", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  text-align: center;
}

h1,
h2 {
  color: #eee;
}

p {
  color: gray;
  letter-spacing: 0.75px;
}

a {
  color: aquamarine;
}

/* ====== End of Universal Styles ==== */

/* Header */
header {
  text-align: center;
}

/*main*/
img[width="896"] {
  border-radius: 50%;
} /* Special targeting: this is targeting any img that has an attribute of width that equals to 896

/*  Footer */
footer {
  text-align: left;
  margin: 15px;
}

sup {
  font-size: 9px;
  padding: 9px 0;
  border: 2px solid;
  border-radius: 50%;
}
